*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width:100vw;
    min-height: 100vh;
    background-color: rgb(19, 34, 34);
}
nav{
    height: 10vh;
    z-index: 100;
    position: fixed;
}

ul{
    border-radius: 24px;
  padding: 10px 28px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
ul li{
    display: inline;
}
button{
     background: rgba(255,255,255,0.12);
  color: #fff;
  border-radius: 24px;
  padding: 10px 28px;
}
:root{
    --primary-color:#FFF;
    --primary-color-alternative:#F1F1F1;
    --back-ground-color:#A5F300;
    --back-ground-color-alternative:#A5F344;
}

.navigation-bar{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #00f324;
    height: 40px;
    width: 100vw;
    padding: 0 40px;
    text-transform: uppercase;
}

.navigation-list{
    border: solid black 2px;
    border-radius: 15px;
    padding: 5px 20px
}

.navigation-list li{
    margin: 0 10px;
}

.section{
    min-height: 50vh;
    min-width: 100%;
}

.hero-section{
    min-height: 100vh;
}